{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos eius id impedit maiores
        necessitatibus pariatur porro, vitae! Accusantium adipisci, alias amet asperiores atque autem commodi
        consequuntur cupiditate, debitis dolore dolorum ducimus ea est eum ex ipsum laudantium, magni minus molestias
        nam nesciunt nihil numquam pariatur quaerat quia quis reiciendis rem reprehenderit saepe sequi suscipit tempore
        totam vel veniam veritatis vero voluptatum. Beatae blanditiis cum deleniti earum nesciunt, perspiciatis tempore?
        Accusamus at consequuntur corporis deleniti eius eligendi eos et eveniet fugiat ipsum iusto libero magnam, magni
        nisi nobis nostrum obcaecati quae quas quibusdam sed similique soluta tempore tenetur, vel voluptatibus?</p><p>
    Alias aperiam asperiores atque commodi consequuntur corporis culpa deleniti dolore dolorem doloribus eius eligendi
    enim error eveniet fugiat impedit in iste libero magnam magni maiores minima, molestias mollitia non nostrum nulla,
    odit pariatur quaerat quia quibusdam reprehenderit rerum sed sit totam ut, vero voluptas. Aspernatur aut dolorem
    enim est eum ex fuga fugiat illum in ipsa iste iure laboriosam nihil nostrum, omnis, quasi reiciendis saepe
    similique sit velit. Amet blanditiis facere iure provident quia quibusdam reprehenderit, veritatis vitae voluptas!
    Aliquam architecto deserunt doloribus, ea earum, eveniet ex, fuga incidunt iste laboriosam molestiae quae similique
    voluptatibus? Alias esse ipsum minus nam.</p><p>Autem dolore dolorum eligendi enim labore nihil perferendis rerum.
    Accusamus, aliquam amet architecto blanditiis cumque facilis nesciunt nisi odio perferendis possimus reiciendis
    repellendus, temporibus! Cupiditate, facilis impedit in labore mollitia numquam reprehenderit repudiandae sunt
    tempore. Aperiam aut consequuntur corporis dicta dolorem esse illum impedit in minus modi necessitatibus nisi, odio,
    optio quod sint sit tempore tenetur ullam veritatis voluptatum. Adipisci consectetur deserunt dignissimos dolorum
    ducimus eligendi eos, excepturi, illum ipsa perferendis quia reiciendis sed soluta ullam voluptates! A aliquam
    aspernatur consequuntur dolores ducimus ex facilis iure maiores nemo officia quibusdam reiciendis reprehenderit
    rerum sapiente, voluptatem. Asperiores cupiditate quasi quo! Nesciunt.</p><p>At dicta dolores eum, harum illum
    laborum libero minima, nihil non rem sed unde voluptates? Aperiam cumque eaque facilis fugit maxime quae quidem quis
    veritatis vero voluptatem. Architecto autem blanditiis consequuntur, ea earum est eum illo iste, laudantium officiis
    placeat repellendus repudiandae sit veniam voluptatibus. A aliquid consequatur debitis esse illo in ipsum labore
    quae repellat ut? A accusamus ad alias aliquam asperiores autem consequatur cum cumque cupiditate dicta dolor
    doloremque earum eius expedita, facere fugiat in ipsum itaque libero minima nisi obcaecati officiis perspiciatis
    possimus quaerat, quidem quisquam quod quos rem saepe soluta tempora tenetur velit vitae voluptatem voluptatum!</p>
    <p>Aliquam aliquid autem beatae cum dolore dolores ducimus enim eveniet expedita, explicabo harum iste nam nostrum
        obcaecati omnis optio perspiciatis quaerat quia unde voluptatem. Adipisci deleniti, et minima nihil nisi
        possimus quisquam quos repellat soluta. Aspernatur, magnam, obcaecati. Consectetur consequatur deserunt dolore
        eaque et eum, ex fuga inventore ipsum, iure laborum minus natus nemo nesciunt non optio quam quidem quo
        recusandae reiciendis repellat reprehenderit sit suscipit totam vero voluptate voluptatum. Ad distinctio eaque
        est et expedita laborum molestias non nulla, praesentium repudiandae rerum sequi velit vitae? Blanditiis culpa
        cum, cumque error magnam modi molestias natus nulla officia quae qui voluptatum.</p>
{% endblock %}

