{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, at ea eius facere, iure magnam maxime optio
        placeat quaerat recusandae sequi sit tempora vero. Adipisci aspernatur assumenda commodi consequatur debitis
        dolore eius enim error esse, ex facilis harum illum ipsam magnam minus molestiae mollitia nemo perferendis
        placeat praesentium quaerat quos reiciendis repellat repudiandae vitae voluptates voluptatibus! Accusamus
        aliquam animi, blanditiis commodi debitis delectus deserunt dolorem ea eaque earum eligendi excepturi, fugiat
        harum illo impedit incidunt laudantium magni minima molestias nesciunt possimus praesentium quaerat quis
        suscipit tenetur vel vero voluptas. Commodi dicta earum expedita molestias mollitia odio quis repellat
        repudiandae sunt.</p><p>Accusantium amet asperiores beatae corporis cum distinctio dolorem ducimus facilis fuga
    hic ipsa ipsam minima modi mollitia, nemo nobis non odit perferendis praesentium provident quae quia quis, quo quod
    soluta suscipit vel voluptatibus? Alias aperiam, autem consequuntur esse, eveniet impedit neque perferendis quam qui
    quibusdam, quod reprehenderit temporibus unde? Accusamus, adipisci blanditiis consectetur consequatur consequuntur
    deserunt distinctio ducimus eligendi eos error est facilis fugiat harum illo illum ipsam iste itaque magni maiores
    minima molestias neque nesciunt nisi nostrum officia optio perferendis, placeat porro rem, rerum sequi similique
    soluta temporibus totam velit vitae voluptatibus! Architecto beatae, est neque reprehenderit veritatis
    voluptatibus.</p><p>Ab accusamus alias dignissimos distinctio dolores earum eos fugit laborum minus, quasi
    repellendus veritatis. Atque deleniti esse id illum iusto, quas ut! Architecto corporis cum cumque eaque, eveniet
    explicabo id modi officiis perferendis quae tenetur vero! Alias asperiores blanditiis dolore dolorem ea eius
    eligendi facilis iure laborum quisquam? Accusantium atque consequuntur culpa cupiditate doloremque eaque, est harum
    natus nesciunt quos ratione recusandae reprehenderit sint sunt tenetur velit voluptas! Earum esse explicabo facilis
    incidunt magni molestiae optio quibusdam quod sit? Animi architecto culpa distinctio eligendi esse et ex
    exercitationem explicabo fugit ipsa laboriosam laudantium quisquam sed sint temporibus tenetur, unde veniam.</p><p>
    Aliquid, blanditiis consectetur dolorum eum illum molestias nam natus neque repudiandae rerum sed similique tempora
    totam? Asperiores consequatur, dolorum error ex illum laboriosam laudantium nihil nulla placeat quos repellat sed
    vel. At dicta eos, facere facilis hic illo ipsa iusto tenetur! Accusamus ad aliquam aliquid commodi consequatur
    cupiditate, deserunt eligendi ex exercitationem hic id illo illum magni modi molestiae nobis nulla odio officiis
    optio perspiciatis porro possimus praesentium quidem rerum similique temporibus totam, voluptatum. Assumenda
    consequatur ducimus eligendi enim inventore iusto, molestias non quae, quaerat quisquam recusandae tempore veritatis
    vero, voluptas voluptate. Dolorem doloribus eligendi error inventore nam, velit voluptatem!</p>
{% endblock %}

